
@{
    ViewBag.Title = "UserUnavailable";
}
@{ 
    Layout = "";
}<link href="~/Content/bootstrap.css" rel="stylesheet" />
 <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
 <link href="~/Content/Site.css" rel="stylesheet" />
<h1 class="text-danger" style="margin-left:800px">Error.</h1>
<h2 class="text-danger" style="margin-left:700px">No user is connected</h2>
<h2 class="text-danger" style="margin-left:730px">Please login first</h2>

